bin/
obj/
Logs/
App_Data/
Publish/
packages/
Reports/
NuGet/
combined_*.js
combined_*.css
_sgbak
*.user
*.suo
*.InstallLog
*.InstallState
*.ReSharper
_ReSharper*
*.resharper
*.sln.cache
*.Publish.xml
*.orig
*.vssscc
*.vspscc
*.gpState
*.dotCover
*.DotSettings.user
